[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/coder-25"]
	path = themes/coder-25
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/coder-custom"]
	path = themes/coder-custom
	url = https://github.com/libert-xyz/hugo-coder
